# Exploratory Data Analysis

In [1]:
# imports
import pandas as pd
import numpy as np

In [4]:
meter_path = r"..\Datasets\meter_meter_1_2025-04-30T20_53_43.157Z.csv"
meter_df = pd.read_csv(meter_path)
meter_df.head(3)

,_time,CurrLineA,CurrLineB,CurrLineC,Current,Hz,PF,VoltPhAB,VoltPhAC,VoltPhAN,VoltPhBC,VoltPhBN,VoltPhCN,Voltage,kVA,kVAR,kW
0,2025-04-28T19:49:52Z,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2025-04-28T19:49:53Z,22.721157,26.459173,25.796852,26.334529,60.017704,0.064897,357.571014,354.222687,206.290329,354.395203,205.593872,203.679123,355.396301,15353.064453,15320.701172,-996.362915
2,2025-04-28T19:49:54Z,22.869385,26.406416,25.829084,27.158107,60.020859,0.063927,357.576355,354.236115,206.292358,354.416138,205.599640,203.694275,355.409536,15382.139648,15350.675781,-983.338806

In [5]:
rtac_path = r"..\Datasets\rtac_rtac_telemetry_2025-04-30T20_46_09.007Z.csv"
rtac_df = pd.read_csv(rtac_path)
rtac_df.head(3)

,_time,52_1_status,89_b1_status,89_l1_status,avr_status,clr_emergency_down_ramp_rate,clr_emergency_up_ramp_rate,clr_load_resource_low_maximum_power_consumption_lsl,clr_load_resource_maximum_power_consumption_hsl,clr_net_load_mw,...,gen_transformer_flows_mvar,gen_transformer_flows_mw,gen_virtual_breaker_status,gen_voltage,lmp,load1_ssvt_mvar,load1_ssvt_mw,pss,xfmr_high_side_v,xfmr_low_side_v
0,2025-04-28T19:35:01Z,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,173.233505,...,13128.265381,-165.392041,NaN,357.672455,NaN,NaN,NaN,NaN,357.672455,34.609116
1,2025-04-28T19:35:02Z,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,171.767624,...,13068.363190,-167.603046,NaN,357.717621,NaN,NaN,NaN,NaN,357.717621,34.601540
2,2025-04-28T19:35:03Z,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-74616.0,188.001205,...,13102.537155,-103.794537,NaN,357.719604,NaN,NaN,NaN,NaN,357.719604,34.603386

In [6]:
site_path = r"..\Datasets\site__2025-04-30T20_50_35.909Z.csv"
site_df = pd.read_csv(site_path)
site_df.head(3)

,_time,ActiveMaxP,ActiveMinP,AllowedMaxP,AllowedMaxQ,AllowedMinP,AllowedMinQ,Application,AvgHumidity,BESSkW,...,Qset,RTAC_P,RTAC_Q,SOC,Status,UnitOnline_SOC_Avg,UnitTotal_SOC_Avg,UnitsOnline,lmp,racks_online
0,2025-04-28T19:49:52Z,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2025-04-28T19:49:53Z,70636.0,-74636.0,NaN,NaN,NaN,NaN,NaN,NaN,-1397.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2025-04-28T19:49:54Z,70634.0,-74634.0,NaN,NaN,NaN,NaN,NaN,NaN,-1331.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN